.env
.git
.github
.pytest_cache
.ruff_cache
.venv
test_harness/jupyter/.native
test_harness/jupyter/extension/.venv
test_harness/jupyter/extension/build
__pycache__
*.py[cod]
*.egg-info
test_harness/jupyter/workspace
tests
scripts
docs
test_harness/agent
shared_dir
